{% load static %}

<footer class="text-muted">
    <div class="container text-center">
        <div class="col pb-2">
            <a class="fab fa-github pr-1" href="https://github.com/Hlaboa" style="color:#685f58"></a>
            <a class="fab fa-linkedin-in pr-1" href="https://www.linkedin.com/in/hlaboa/" style="color:#685f58"></a>
            <a class="fab fa-stack-overflow pr-1" href="https://stackoverflow.com/users/10876445/haritz-laboa" style="color:#685f58"></a>
            <a class="fas fa-envelope pr-1" href="mailto:hlaboa@gmail.com" style="color:#685f58"></a>
        </div>
        <p style="font-family: 'Times New Roman', Times, serif; color:#685f58; font-size:0.7em">Design & code by <b>Haritz Laboa</b> © {% now "Y"%}</p>
    </div>
</footer>

</html>