{% load static %}

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-sm bg-navbar_home sticky-top">
        <div class="container-fluid justify-content-center" style="max-width: 600px">
            <a href="{% url 'home' %}" class="btn btn-secondary" role="button" style="font-family:'Merriweather' ; border-radius: 10px">
                <i class="fas fa-home"></i> HARITZ LABOA
            </a>
        </div>
    </nav>

    <div class="d-none d-md-block">
        <button class="top_scroll" onclick="topFunction()" id="scrollTop" style="display:none">
            <i class="fas fa-chevron-up"></i>
        </button>
    </div>


    <!---  ... scripts ...  --->
    <!---  SCROLL TO THE TOP  --->
    <script>
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 10) {
            document.getElementById("scrollTop").style.display = "block";
          } else {
            document.getElementById("scrollTop").style.display = "none";
          }
        }

        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
    </script>


    <!---  SHOW & HIDE NAVBAR  --->
    <script>
        $(window).scroll(function(e) {
            var scroll = $(window).scrollTop();
            if (scroll >= 250) {
                $('.navbar').addClass("navbar-hide");
            } else {
                $('.navbar').removeClass("navbar-hide");
            }
        });
    </script>
